{
  "dump_cs_path": "user-data/dump.cs",
  "apk_path": "local-input/terra-battle-5.5.7-170.apk",
  "lib_path": "user-data/libil2cpp.so",
  "objdump_cmd": "llvm-objdump",
  "stages_layout_path": "user-data/extracted-gamedata/game_data/StagesLayout.json"
}
